/*--basic--*/
@import url(https://fonts.googleapis.com/css?family=Oswald:400,300);
@import url(https://fonts.googleapis.com/css?family=Open+Sans);
@import url(https://fonts.googleapis.com/css?family=Vollkorn);
* {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
/* Container idTop*/
#idTop{
    position: relative;
    /* border: 1px solid green; */
    padding: 0;
    background: #E9EBEE;
}
/*---Cover & Pic---*/
#idCover{
    z-index: 0;
    width: 100%;  
    border-radius: 25px 25px 0 0;
}

#idBackPic{
    margin: -150px 10px 0px 50px;
    z-index: 1;
    width: 20%; 
}

#idProPic{
    margin: -150px 10px 0px 50px;
    z-index: 2;
    width: 228px; 
    height: 269px;
/*     width: 20%;  */
/*     max-height: 269px; */
    overflow: hidden;
}
/*------Button------*/
#idFollow {
    position: absolute;
    bottom: 150px;
    right: 2rem;
    color: #ffffff;
    padding-left: 20px;
    text-shadow: 1px 1px 2px #000000;
    /* border: 2px solid red; */
}
#idFollow>buttin i{
    color: #ffffff;
    font-size: 14px;
    margin: 0 0 0 2px;
    position: static;
}
.btn-o {
    background-color: rgba(255, 255, 255, 0.1);
    border: 1px solid rgba(255, 255, 255, 0.5);
    border-radius: 2px;
    color: #ffffff !important;
    display: inline-block;
    font-family: open sans;
    font-size: 15px !important;
    font-weight: normal !important;
    margin-right: 1rem;
    padding: 5px 11px;
    text-decoration: none !important;
    text-transform: uppercase;
    background-color: rgba(255, 255, 255, 0.1);
    -webkit-transition: all 0.4s ease;
    -o-transition: all 0.4s ease;
    transition: all 0.4s ease;
    background-color: rgba(64, 182, 41, 0.8);
}
.btn-o:hover {
    background-color: rgba(255, 255, 255, 0.4);
    color: #fff !important;
    cursor: pointer;
}
.btn-o:focus {
/*     background: #b63b4d; */
    color: #fff;
/*     border: 1px solid #b63b4d; */
}

/*------PersonalInfo--------*/
#idUserBasic{
    position: absolute; 
    bottom: 130px;
    left:27%;
    color: #ffffff;
    /* padding: 30px 15px 4px; */
    /* margin: 0px; */
    padding: 0px;
    text-shadow: 1px 1px 2px #000000;
    /* border: 1px solid blue; */
}
#idUserBasic>h2 {
    margin: 0px;
    /* padding: 0px; */
    font-family: 'Vollkorn', cursive;
    font-size: 40px;
    font-weight: lighter;
    /* margin: 31px 0 4px; */
    position: relative;
    text-shadow: 1px 1px 2px #000000;
    text-transform: uppercase;
    /* border: 1px solid blue; */
}
#idUserBasic>h3 small {
    color: #ffffff;
    font-family: open sans;
    font-size: 20px;
    font-weight: 400;
    position: relative;
    /* border: 1px solid blue; */
}
#idUserBasic>h3>small i{
    color: #ffffff;
    font-size: 20px;
    margin: 0 5px 0 80px;
    position: static;
} 


/*-------**************-------*/
#idMid{
    /* border: 1px solid black; */
    background: #E9EBEE;
}
#asideLeft{
    /* border: 1px solid brown; */
    margin-left: 24px;
    margin-top: 12px; 

}
#asideRight{
    background-color: #E9EBEE;
    /* border: 1px solid purple ; */
    margin-top: -100px; 
    margin-left: 36px;
    width: 100%;
}

/*-------------------*/
ul {
    list-style-type: none;
}

a {
    /* color: #b63b4d; */
    text-decoration: none;
}

.list-group .active{
    background: rgba(255, 255, 255, 0.1) !important;
    color: #0056B3 !important;
    border: none !important;
}

.list-group{
    margin-left: -15px;
    width: 112%;  
    width: 100%;
    max-width: 290px;
    margin: 0;
    background: #FFF;
    font-size: 16px;
    font-weight: normal;
    /* border-radius: 100px;
    border: 1px solid brown; */
}
.list-group-item{
    color: #212529;
    /* border: 1px solid brown */
}
#sendMail{
    border: none; /* Remove borders */
    color: white; /* Add a text color */
    padding: 5px; /* Add some padding */
    cursor: pointer; /* Add a pointer cursor on mouse-over */
    background-color: #2196F3;
}
#sendMail:hover{
    background: #0b7dda;
    cursor: pointer;
}




/*-----------------------------*/

.accordion {
    width: 100%;
    max-width: 290px;
    margin: 0;
    background: #FFF;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    /* border: 2px solid skyblue; */
}

.accordion .link {
    cursor: pointer;
    display: block;
    padding: 15px 15px 15px 15px;
    color: #4D4D4D;
    font-size: 14px;
    font-weight: 700;
    border-bottom: 1px solid #CCC;
    position: relative;
    -webkit-transition: all 0.4s ease;
    -o-transition: all 0.4s ease;
    transition: all 0.4s ease;
}

.accordion li:last-child .link {
    border-bottom: 0;
}

.accordion li i {
    /* position: absolute; */
    /* top: 16px;
    left: 12px; */
    margin-right: 15px;
    font-size: 18px;
    color: #595959;
    -webkit-transition: all 0.4s ease;
    -o-transition: all 0.4s ease;
    transition: all 0.4s ease;
}

.accordion li i.fa-chevron-down {
    /* right: 12px; */
    float: right;
}

.accordion li.open .link {
/*     color: #b63b4d; */
}
.accordion li.open i{
/*     color: #b63b4d; */
}

.accordion li.open i.fa-chevron-down {
    -webkit-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    transform: rotate(180deg);
}

.accordion li .submenu i{
    color: #ffffff;
}

.accordion li.default .submenu{
    display: block;
}

#idSocialBar{
    position: relative;
    /* border: 1px solid blue; */
    text-align: center;
    padding: 8px;
    border-bottom: 1px solid #CCC;
}

#accordion:hover .edit-pic {
    opacity: unset;
    -webkit-transition: all 0.4s ease;
    -o-transition: all 0.4s ease;
    transition: all 0.4s ease;
}

.edit-pic a {
    background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
    /* border: 1px solid green; */
    border-radius: 50%;
    color: #666666;
    font-size: 21px;
    height: 39px;
    line-height: 38px;
    margin: 3px;
    text-align: center;
    width: 39px;
    -webkit-transition: all 0.4s ease;
    -o-transition: all 0.4s ease;
    transition: all 0.4s ease;
    text-decoration: none !important;
    /* display: list-item; */
    display: inline-block;
    background-color: rgba(255, 255, 255, 0.8);
}

.edit-pic a:hover {
    font-size: 17px;
    opacity: 0.9;
}

.edit-pic a:focus {
/*     background: #b63b4d; */
    color: #fff;
/*     border: 1px solid #b63b4d; */
}

/*----------好友列表---------*/
.iconList{
 text-align:center;
 display: inline-block;
 width:100%; 
 margin-left:20px;
 margin-top: 20px;
}
.iconList>.iconList_Icon{
 margin: 10px;
 float: left;
}

.panel {
    padding: 15px 30px 5px 30px;
    background-color: #5DADE2;
    overflow: hidden;
    display:none;
    border-bottom: 1px solid #E5E7E9 ;
}
